<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="html5 generator ninja">
    <title>Boilerplate Ninja - the sneaky HTML5 generator</title>

    <!-- at:css >> css/site.css -->
    <link rel="stylesheet" href="../bower_components/normalize.css/normalize.css">
    <link rel="stylesheet" href="../bower_components/skeleton-less/less/skeleton.less">
    <link rel="stylesheet" href="less/site.less">
    <!-- at:end -->
    <script>
      document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/,'js');
    </script>
    <style>
    <% _.each(sections, function(elem) { %>
      input[type=checkbox][id=<%- elem.id ? elem.id : elem.name %>]:checked ~ code [id=<%- elem.id ? elem.id : elem.name %>-expand] {
        display: block;
        visibility: visible;
      }
    <% }) %>
    </style>
  </head>
  <body>

<div class="container">
<% _.each(sections, function(elem) { %>
    <input type="checkbox" id="<%- elem.id ? elem.id : elem.name %>" role="button">
    <label class="button" for="<%- elem.id ? elem.id : elem.name %>"><%- elem.name %></label>
<% }) %>

<code><!-- template --></code>
</div>

  </body>
</html>