<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
// <% _.each(head.tags.concat(head.css).concat(head.javascript), function(elem) { %>
//   <span id="<%- elem.id ? elem.id : elem.name %>-expand" class="expandable"><%= escape(elem.markup) %></span>
// <% }) %>
   </head>
  <body>
// <br>
// <% _.each(body.frameworks.concat(body.graphics).concat(body.javascript), function(elem) { %>
//   <span id="<%- elem.id ? elem.id : elem.name %>-expand" class="expandable"><%= escape(elem.markup) %></span>
// <% }) %>
   </body>
</html>